@import url(blog/base-weblog.css);

/*
name: Newsline
designer: Carrie Petri
designer_url: http://carriep63.livejournal.com
description: A no-nonsense red, black and gray theme
layouts: one-column, two-column-left, two-column-right, three-column
*/


body{
background:#fff;
font-family: arial, helvetica, sans-serif !important;
font-size:14px !important;
}

#container{
width:100% !important;
background:#fff;
}

#banner-inner{
}

#banner-header a{
color:#000;
font-size:20px;
font-family:arial, helvetica, sans-serif;
text-decoration:none;
text-transform:uppercase;
padding-top: 10px;
padding-left:5px;
float:left;
padding-bottom:15px;
color: #bb1d00;
}

#banner-description{
color:#000;
font-size:12px;
font-family:arial, helvetica, sans-serif;
padding-top:12px !important;
letter-spacing:2px;
text-align:right;
margin-right:2px !important;
}

#pagebody{
margin:0 auto !important;
}

#pagebody-inner .pkg{
margin:30px 10px;
}

a{
color:#666;
text-decoration:none !important;
}

a:hover{
color:#000;
}

ul li{
margin-left:1em;
}

h1, h2, h3{
margin:0 !important;
padding:0px 0px 10px 0px !important;
font-weight:normal !important;
}

.date-header{
letter-spacing:1px;
font-family:arial, helvetica, sans-serif;
text-transform:uppercase;
}

.entry-header{
letter-spacing:1px;
font-family:arial, helvetica, sans-serif;
text-transform:uppercase;
font-size:13px;
color:#000;
}

.entry li{
color:#000;
font-family:sans-serif;
font-size:12px;
margin-bottom:1em;
}

.entry a, .trackbacks a, .comments a{
color:#AA1212;
}

.entry a:hover, .trackbacks a:hover, .comments a:hover{
color:#000;
}

.entry, .trackbacks{
color:#4f4f4f;
}

.entry-footer{
text-align:right;
margin-top:10px !important;
}

.post-footers{
letter-spacing:1px;
font-family:arial, helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
color:#000;
display:block;
border-bottom:1px solid #CC0000;
text-align:left;
}

.separator{
display:none;
}

blockquote{
padding:5px;
margin-left: 10px;
letter-spacing:1px;
color:#000;
font-family:sans-serif;
font-size:12px;
}

.module{
font-size:12px;
}

.module ul{
margin:0 !important;
padding:0 !important;
text-align:justify;
}

.module li li {
}

.module-header, .module-header a{
color:#000;
letter-spacing:1px;
font-family:arial, helvetica, sans-serif;
text-transform:uppercase;
border-bottom:1px solid #CC0000;
text-decoration:none;
font-size:18px;
}

.module-syndicate{
}

.module-syndicate .module-content{
margin:0;
margin-bottom:10px;
padding-left:14px;
line-height:14px;
}

#sidebarposition .module-content{
color:#000;
letter-spacing:1px;
font-family:arial, helvetica, sans-serif;
text-transform:uppercase;
text-decoration:none;
font-size:12px;
}

#sidebarposition .module-content a{
color:#CC0000;
}

.module-powered a{
color:#CC0000;
}
.module-powered a:hover{
color:#000;
}

.trackbacks-header{
letter-spacing:1px;
font-family:arial, helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
color:#000;
border-bottom:2px solid black;
}

#trackbacks-info{
padding:5px;
letter-spacing:1px;
color:#000;
text-transform:uppercase;
font-size:10px;
}

.comments-header, .comments-open-header{
letter-spacing:1px;
font-family:arial, helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
color:#000;
border-bottom:2px solid black;
}

.content-nav a{
color:#CC0000;
}

.layout-three-column #beta{
width:56%;
text-align:justify;
}

.layout-three-column #alpha{
width:22%;
}

.layout-three-column #beta-inner{
border-left:1px solid #bbb;
border-right:1px solid #bbb;
padding:0 5px;
}

.layout-three-column #gamma{
width:22%;
}

.layout-two-column-left #beta{
width:75%;
text-align:justify;
}

.layout-two-column-left #alpha{
width:25%;
}

.layout-two-column-left #beta-inner{
border-right:0;
}

.layout-two-column-right #beta{
width:25%;
text-align:justify;
}

.layout-two-column-right #alpha{
width:75%;
}

.layout-two-column-right #alpha-inner{
border-right:1px solid #bbb;
padding:0 5px;
}

.layout-one-column .entry-footer{
text-align:right;
margin-top:10px !important;
width:60%;
float:right;
}
